<style lang="scss" src="./style.scss" scoped></style>

<template>
  <div id="bikers__tpl">
    <h1>Bikers</h1>

    <div class="header-list">
      <div class="header-item w-full">Full name</div>
      <div class="header-item w-full">E-mail</div>
      <div class="header-item w-half">City</div>
      <div class="header-item w-half">Ride in group</div>
      <div class="header-item w-full">Days of the week</div>
      <div class="header-item w-full">Registration day</div>
      <div class="header-item delete">&nbsp;</div>
    </div>

    <div
      :key="biker.id"
      v-for="biker in $root.bikers"
      class="row-list">
      <div class="row-item w-full">{{ biker.full_name }}</div>
      <div class="row-item w-full">{{ biker.email }}</div>
      <div class="row-item w-half">{{ biker.city }}</div>
      <div class="row-item w-half">{{ biker.ride_in_group }}</div>
      <div class="row-item w-full">{{ biker.dow_text }}</div>
      <div class="row-item w-full">{{ biker.registration_day | date }}</div>
      <div class="row-item delete" @click="deleteItem(biker.id)">
        <i class="fal fa-trash-alt"></i>
      </div>
    </div>
  </div>
</template>

<script>
  import { findIndex as _findIndex } from 'lodash'
  import moment from 'moment'


  export default {
    name: 'Bikers',
    // props: {},
    // components: {},
    data() {
      return {
        // bikers: [],
      }
    },
    mounted() {
      console.log('bikers__mounted')
    },
    created() {
      console.log('bikers__created')

    },
    watch: {},
    computed: {},
    filters: {
      date(s) {
        const d = moment(s, moment.ISO_8601())
        return d.format('DD/MM/YYYY hh:mmA')
      }
    },
    methods: {
      deleteItem(id) {
        // TODO: ask for confirmation
        const idx = _findIndex(this.$root.bikers, b => b.id === id)
        if (idx !== -1) {
          const item = this.$root.bikers[idx]
          if (confirm(`Are you sure you want to delete the item of ${item.full_name.toUpperCase()}?`)) {
            this.$root.bikers = [
              ...this.$root.bikers.slice(0, idx),
              ...this.$root.bikers.slice(idx + 1),
            ]
          }
        }
      },
    },
  }
</script>
