$green: #34A00F;

#bikers__tpl {
  margin: 2rem 0;
  // background-color: #eee;

  h1 {
    margin: 0 0 1rem;
    color: #333;
  } // h1

  $col-width: 280px;
  $col-width50: 150px;

  .header-list {
    display: flex;
    align-items: center;
    background-color: $green;

    .header-item {
      padding: 1rem .5rem;
      color: #fff;
      font-size: .9rem;
      width: $col-width;

      &.w-half {
        width: $col-width50;
      } // &.w-half

      &.delete {
        width: 40px;
      } // &.delete
    } // .header-item
  } // .header-list

  $row-bg-hover: #C5DFBC;

  .row-list {
    display: flex;
    // justify-content: space-between;

    &:nth-of-type(2n+1) {
      background-color: #f2f2f2;
    } // &:nth-of-type(2n+1)

    &:hover {
      background-color: $row-bg-hover;

      .row-item.delete {
        visibility: initial;
      } // .row-item.delete
    } // &:hover

    .row-item {
      font-size: .7rem;
      padding: 1rem .5rem;
      width: $col-width;

      &.w-half {
        width: $col-width50;
      } // &.w-half

      &.delete {
        width: 40px;
        cursor: pointer;
        visibility: hidden;

        &:hover {
          color: #c00;
        } // &:hover
      } // &.delete
    } // .row-item
  } // .row-list
} // #bikers__tpl
