<style lang="scss" src="./style.scss"></style>

<template>
  <div
    id="check-button__tpl"
    :class="{ selected: value_ }"
    @click="toggle">
    <i
      v-if="value_"
      class="fas fa-check"></i>
  </div>
</template>

<script>
  export default {
    name: 'CheckButton',
    props: {
      value: { type: Boolean, default: false, }
    },
    components: {},
    data() {
      return {
        value_: this.value,
      }
    },
    mounted() {},
    created() {},
    watch: {
      value(v) {
        this.value_ = v
      },
    },
    computed: {},
    methods: {
      toggle() {
        this.value_ = !this.value_
        this.$emit('input', this.value_)
      }
    },
  }
</script>
