$green: #34A00F;

#check-button__tpl {
  border: 2px solid #777;
  border-radius: .25rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #fff;
  position: relative;

  &:hover,
  &.selected {
    border-color: $green;
  } // &:hover, &.selected

  i {
    position: absolute;
    left: 20%;
    top: 20%;
  } // i
} // #check-button__tpl
