$bgcolor: #fff;
$inner-width: 60rem; // 960px
$green: #34A00F;
$ltgray: #F0F0F0;

html {
  width: 100%;
  background-color: $bgcolor;

  body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    font-size: 16px;

    * {
      box-sizing: border-box;
    }

    #header {
      border-bottom: 1px solid #777;
      // background-color: coral;

      .header-inner {
        display: flex;
        align-items: center;
        width: $inner-width;
        max-width: 100%;
        margin: 0 auto;
        padding: 1rem 0;
        // background-color: yellow;

        .navicon {
          font-size: 1.2rem;
          color: $green;
          margin-right: .5rem;
        } // .navicon

        .app-title {
          font-size: 1rem;
          font-weight: bold;
          color: #333;
        } // .app-title

        .fill {
          flex-grow: 1;
        } // .fill

        .user-icon {
          color: $green;
        } // .user-icon

        .user {
          font-size: .8rem;
          margin-left: .5rem;
          color: #333;

          .logout {
            color: inherit;
            text-decoration: none;
          } // .logout
        } // .user
      } // .header-inner
    } // #header

    #breadcrumb {
      padding: .5rem 0;

      .bc-inner {
        display: flex;
        align-items: center;
        width: $inner-width;
        max-width: 100%;
        margin: 0 auto;
        // background-color: coral;

        a {
          display: inline-block;
          // padding: 0 1rem 0 0;
          text-decoration: none;
          color: #444;
          font-size: .7rem;
          color: $green;
          // background-color: teal;

          &.home {
            font-size: .9rem;
          } // &.home

          &.current-page {
            color: #777;
            font-weight: bold;
          } // &.current-page

          &:not(.current-page):hover {
            text-decoration: underline;
          } // &:hover
        } // a

        .sep {
          font-size: 1.5rem;
          color: #eee;
          margin: 0 .5rem;
        } // .sep
      } // .bc-inner
    } // #breadcrumb

    .wrapper-categories {
      width: 100%;
      background-color: $ltgray;

      .categories {
        display: flex;
        align-items: center;
        width: $inner-width;
        max-width: 100%;
        margin: 0 auto;
        padding: 1.5rem 0; // 1.5rem 1rem;
        // background-color: coral;

        .category {
          display: flex;
          align-items: center;
          margin-right: 2rem;

          &:last-child {
            margin-right: 0;
          } // &:last-child

          .icon {
            font-size: 2rem;
            color: #333;
          } // .icon

          .desc {
            display: flex;
            flex-direction: column;
            margin-left: .5rem;

            .subtitle {
              font-size: .7rem;
              color: #999;
            } // .subtitle

            .title {
              font-size: 1rem;
              font-weight: bold;
              color: #333;
            } // .title
          } // .desc

          &.recycle {
            .icon {
              color: $green;
            } // .icon

            .title {
              color: $green;
            } // .title
          } // &.recycle
        } // .category

        .filler {
          flex-grow: 1;
        } // .filler
      } // .categories
    } // .wrapper-categories

    #content {
      width: $inner-width;
      max-width: 100%;
      margin: 0 auto;
      // height: 900px;
      // background-color: $green;

      .help {
        margin: 2rem 0;

        $border-color: #ccc;
        $icon-color: #999;

        .title {
          display: flex;
          align-items: center;
          font-weight: bold;
          padding: 1rem;
          background-color: $ltgray;
          border-radius: .25rem .25rem 0 0;
          border: 1px solid $border-color;

          .filler {
            flex-grow: 1;
          } // .filler

          .open,
          .close {
            font-size: .7rem;
            color: $green;
            cursor: pointer;
          } // .close

          &:not(.closed) {
            .open {
              display: none;
            } // .open
          } // &:not(.closed)

          &.closed {
            border-radius: .25rem;

            .close {
              display: none;
            } // .close

            .open {
              display: inline-block;
            } // .open
          } // &.closed
        } // .title

        .text {
          border: 1px solid $border-color;
          border-top: 0;
          border-radius: 0 0 .25rem .25rem;
          padding: .75rem;
          transition: height 1s;
          overflow: hidden;

          &.closed {
            height: 0;
            padding: 0;
            border: 0;
          } // &.closed

          .icon {
            // display: inline;
            float: left;
            font-size: 5rem;
            color: $icon-color;
            margin: 0 .75rem .75rem;
          } // .icon

          p {
            font-size: .8rem;
            line-height: 1;
            color: #444;
            margin: .5rem 0;
          } // p
        } // .text

      } // .help
    } // #content

    #footer {
      width: 100%;
      border-top: 1px solid #777;
      // background-color: orange;

      .footer-inner {
        width: $inner-width;
        max-width: 100%;
        margin: 0 auto;
        padding: 1rem 0;
        display: flex;
        align-items: center;
        color: #777;
        // background-color: #eee;

        .app-title {
          font-size: .7rem;
          color: inherit;
        } // .app-title

        .filler {
          flex-grow: 1;
        } // .filler

        .app-version {
          font-size: .7rem;
          color: inherit;
        } // .app-version
      } // .footer-inner
    } // #footer
  } // body
} // html
