<style lang="scss" src="./style.scss"></style>

<template>
  <div
    id="radio-button__tpl"
    :class="{ selected: value_ }"
    @click="toggle">
    <span
      v-if="value_"
      class="point">&nbsp;</span>
  </div>
</template>

<script>
  export default {
    name: 'RadioButton',
    props: {
      value: {
        type: Boolean,
        default: false,
      },
      keyName: {
        type: String,
        required: true,
      },
    },
    // components: {},
    data() {
      return {
        value_: false,
      }
    },
    // mounted() {},
    created() {
      this.value_ = this.value
    },
    watch: {
      value(v) {
        this.value_ = v
      },
    },
    // computed: {},
    methods: {
      toggle() {
        this.value_ = !this.value_
        this.$emit('input', {
          keyName: this.keyName,
          value: this.value_,
        })
      },
    },
  }
</script>
