$green: #34A00F;

#radio-button__tpl {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #fff;
  border: 2px solid #777;
  border-radius: 50%;
  position: relative;

  &:hover,
  &.selected {
    border-color: $green;
  } // &:hover, &.selected

  .point {
    position: absolute;
    width: .75rem;
    height: .75rem;
    left: 20%;
    top: 20%;
    border-radius: 50%;
    background-color: #333;
  } // .point
} // #radio-button__tpl
