$green: #34A00F;

#user-registration__tpl {
  margin: 2rem 0;
  // background-color: orange;

  h1 {
    margin: 0 0 1rem;
    color: #333;
  } // h1

  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;

    .left {
      // background-color: green;
    } // .left

    .right {
      // background-color: coral;
    } // .right

    .input {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.5rem;

      .group {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        .item {
          display: flex;
          align-items: center;
          margin-right: 1.5rem;
          font-size: .8rem;
          cursor: pointer;
        } // .item
      } // .group

      label {
        margin-bottom: .25rem;
        font-weight: bold;
        font-size: .9rem;
        color: #333;

        &.with-info {
          display: flex;
          align-items: baseline;

          .filler {
            flex-grow: 1;
          } // .filler

          .info {
            font-weight: normal;
            font-size: .8rem;
            color: #777;
          } // .info
        } // &.with-info
      } // label

      input {
        border: 2px solid #999;
        border-radius: .25rem;
        padding: .5rem;
        font-size: .8rem;
        outline: none;
        box-shadow: none;

        &:focus {
          border-color: $green;

          & + .instructions {
            visibility: initial;
          }
        } // &:focus
      } // input

      .instructions {
        visibility: hidden;
        font-size: .7rem;
        font-weight: normal;
        color: #777;
        margin-top: .15rem;
      } // .instructions
    } // .input

    .buttons {
      display: flex;
      justify-content: flex-end;
      margin: 2rem 0 0;

      button {
        border: 0;
        border-radius: .25rem;
        padding: .5rem;
        font-size: .8rem;
        font-weight: bold;
        min-width: 80px;
        margin-left: .5rem;
        cursor: pointer;
        outline: none;

        &.save {
          background-color: $green;
          color: #fff;
        } // &.save
      } // button
    } // .buttons
  } // .wrapper

} // #user-registration__tpl
