<style lang="scss" src="./style.scss" scoped></style>

<template>
  <div id="user-registration__tpl">
    <h1>User registration</h1>

    <div class="wrapper">
      <div class="left">
        <div class="input">
          <label>Full name</label>
          <input type="text" v-model="full_name">
          <div class="instructions">Instructions to show on input focus</div>
        </div>

        <div class="input">
          <label>E-mail</label>
          <input type="email" v-model="email">
          <div class="instructions">Instructions to show on input focus</div>
        </div>

        <div class="input">
          <label class="with-info">
            <span>City</span>
            <span class="filler"></span>
            <span class="info">optional</span>
          </label>
          <input type="text" v-model="city">
          <div class="instructions">Instructions to show on input focus</div>
        </div>
      </div>

      <div class="right">
        <div class="input">
          <label>Ride in group?</label>
          <div class="group">
            <div class="item">
              <radio-button
                key-name="always"
                :value="ride_in_group.always"
                @input="change" />&nbsp;Always
            </div>

            <div class="item">
              <radio-button
                key-name="sometimes"
                :value="ride_in_group.sometimes"
                @input="change" />&nbsp;Sometimes
            </div>

            <div class="item">
              <radio-button
                key-name="never"
                :value="ride_in_group.never"
                @input="change" />&nbsp;Never
            </div>
          </div>
        </div>

        <div class="input">
          <label for="">Days of the week</label>
          <div class="group">
            <div class="item"><check-button v-model="dow.mon" />&nbsp;Mon</div>
            <div class="item"><check-button v-model="dow.tue" />&nbsp;Tue</div>
            <div class="item"><check-button v-model="dow.wed" />&nbsp;Wed</div>
            <div class="item"><check-button v-model="dow.thu" />&nbsp;Thu</div>
            <div class="item"><check-button v-model="dow.fri" />&nbsp;Fri</div>
            <div class="item"><check-button v-model="dow.sat" />&nbsp;Sat</div>
            <div class="item"><check-button v-model="dow.sun" />&nbsp;Sun</div>
          </div>
        </div>

        <div class="buttons">
          <button class="cancel" @click="cancel">Cancel</button>
          <button class="save" @click="save">Save</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue'
  import uuidv4 from 'uuid/v4'
  import moment,{ ISO_8601 } from 'moment'
  import RadioButton from 'radio-button/radio-button.vue'
  import CheckButton from 'check-button/check-button.vue'

  export default {
    name: 'UserRegistration',
    // props: {},
    components: { RadioButton, CheckButton, },
    data() {
      return {
        full_name: '',
        email: '',
        city: '',
        ride_in_group: {
          always: false,
          sometimes: false,
          never: false,
        },
        dow: {
          mon: false,
          tue: false,
          wed: false,
          thu: false,
          fri: false,
          sat: false,
          sun: false,
        },
      }
    },
    mounted() {},
    created() {},
    watch: {},
    computed: {},
    methods: {
      change(e) {
        for (let k in this.ride_in_group) {
          this.ride_in_group[k] = false
        }

        this.ride_in_group[e.keyName] = e.value
      },
      resetForm() {
        this.full_name = ''
        this.email = ''
        this.city = ''

        this.ride_in_group = {
          always: false,
          sometimes: false,
          never: false,
        }

        this.dow = {
          mon: false,
          tue: false,
          wed: false,
          thu: false,
          fri: false,
          sat: false,
          sun: false,
        }
      },
      cancel() {
        this.resetForm()
      },
      save() {
        // TODO: create biker

        let ride_in_group = ''
        if (this.ride_in_group.always) {
          ride_in_group = 'Always'
        }
        else if (this.ride_in_group.sometimes) {
          ride_in_group = 'Sometimes'
        }
        else if (this.ride_in_group.never) {
          ride_in_group = 'Never'
        }

        const DAYS = [
          [1, 'mon', 'Mon'],
          [2, 'tue', 'Tue'],
          [3, 'wed', 'Wed'],
          [4, 'thu', 'Thu'],
          [5, 'fri', 'Fri'],
          [6, 'sat', 'Sat'],
          [7, 'sun', 'Sun'],
        ]

        let dow = ''
        let dow_names = []
        DAYS.forEach(([n, d, D]) => {
          let v = this.dow[d]
          if (v) {
            dow += n.toString()
            dow_names.push(D)
          }
        })

        let dow_text = ''
        switch (dow) {
          case '12345':
            dow_text = 'Weekdays'
            break

          case '567':
            dow_text = 'Weekends'
            break

          case '1234567':
            dow_text = 'Everyday'
            break

          default:
            dow_text = dow_names.join(', ')
            break
        }

        const reEmail = /^[a-z0-9][a-z0-9.\-_]+@[a-z][a-z0-9\-_]+(\.[a-z0-9\-_]{2,})/

        // required fields
        if (!this.full_name) {
          alert('A "Full name" for the biker has to be specified')
          return
        }
        else if (!this.email) {
          alert('An "Email" for the biker has to be specified')
          return
        }
        else if (!reEmail.test(this.email)) {
          alert('The specified Email does not have a correct format')
          return
        }
        else if (!ride_in_group) {
          alert('Please, select if the biker rides with others')
          return
        }
        else if (!dow) {
          alert('Please, select the days of the week the biker rides')
          return
        }

        const registration_day = moment().format(moment.ISO_8601())

        const biker = {
          id: uuidv4(),
          full_name: this.full_name,
          email: this.email.toLowerCase(),
          city: this.city,
          ride_in_group,
          dow,
          dow_text,
          registration_day,
        }

        // add biker to the list
        this.$root.bikers = [
          ...this.$root.bikers,
          biker,
        ]

        this.resetForm()
      },
    },
  }
</script>
